.home-wrapper {
    width: 100%;
    direction: rtl;
}

.home-container {
    height: 100vh;
    width: 100%;
    background-image: url('/images/homecover.jpg');
    background-size: cover;
    /* background-position: right;*/
}

.home-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(32, 45, 97, 0.88) 25%, rgb(32, 45, 97, 0.05) 100%);
    /* background: linear-gradient(to left, rgb(32, 45, 97, 0.85) 30%, rgba(255, 255, 255, 0.1) 80%);*/
    display: flex;
    align-items: center;
}

.home-content {
    width: 100%;
    max-width: 900px;
    padding: 3rem 40px 0 40px;
    margin-right: 5%;
}

.home-title {
    color: white;
    font-size: 2.8rem;
    width: 100%;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.home-highlight {
    width: 100%;
    font-size: 4.3rem;
    font-weight: 900;
    display: block;
    margin-bottom: 0.75rem;
    color: #e0e0e0;
}

.home-description {
    color: #e4e4e4;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    max-width: 600px;
}


.home-button {
    background: #1ea81e;
    color: white;
    border: 2px solid #1ea81e;
    padding: 11px 42px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.home-button:hover {
    background: white;
    border: 2px solid white;
    color: #1ea81e;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .home-container {
        height: 80vh;
    }

    .home-content {
        margin-right: 5%;
        padding: 0 20px;
    }

    .home-title {
        font-size: 2rem;
    }

    .home-highlight {
        font-size: 3.2rem;
    }

    .home-description {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .home-button {
        padding: 8px 20px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .home-container {
        height: 75vh;
    }

    .home-content {
        margin-right: 0;
        padding: 2.5rem 15px 0 15px;
    }

    .home-title {
        font-size: 1.8rem;
    }

    .home-highlight {
        font-size: 2.6rem;
    }
}

@media (max-width: 375px) {
    .home-container {
        height: 80vh;
    }
}