:root {
  /* Cairo Font Weights */
  --font-cairo: 'Cairo', sans-serif;
  --font-cairo-light: 300;
  --font-cairo-regular: 400;
  --font-cairo-medium: 500;
  --font-cairo-semibold: 600;
  --font-cairo-bold: 700;
  --font-cairo-extrabold: 800;
  --font-cairo-black: 900;

  /* Amiri Font Weights */
  --font-amiri: 'Amiri', serif;
  --font-amiri-regular: 400;
  --font-amiri-bold: 700;
  --font-amiri-extrabold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensuring full height of the body */
html,
body {
  height: 100%;
  font-family: var(--font-cairo);
  font-weight: var(--font-cairo-regular);
  margin: 0;
  padding: 0;
}

/* Prevent body overflow */
body {
  overflow-x: hidden;
  background-color: #fff;
  /* You can change this to your preferred color */
}

h1 {
  font-family: var(--font-cairo);
  font-weight: var(--font-cairo-extrabold);
}

h2,
h3 {
  font-family: var(--font-cairo);
  font-weight: var(--font-cairo-bold);
}



ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  /* Ensures links adopt the text color */
}

button {
  cursor: pointer;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.3s ease;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}